*.deb
*.bin
tmpwork/
f730-*
ghidra.rep/
ghidra.lock
ghidra.lock~
ghidra.gpr
*.jar
*.class
dist/
/data/
.DS_Store
# BEGIN oh-my-opencode-slim worktrees
.slim/worktrees/
.slim/worktrees.json
# END oh-my-opencode-slim worktrees
